:root {
  --primary-color: #368dc9;
  --primary-color-dark: #035a96;
  --secondary-color: #d83c53;
  --secondary-color-dark: #a50920;
  --font-color: #1d3352;
  --btn-font-color: #f9faf8;
  --bg-color: #f9faf8;
  --nav-color: #1d3352;
}

body {
  padding: 15px;
  font-family: 'Raleway', sans-serif;
  color: var(--font-color);
  background-color: var(--bg-color);
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80px;
  background-color: var(--primary-color-dark);
  color: var(--bg-color);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#header h1,
h2 {
  font-family: 'Reenie Beanie', cursive;
  font-size: 60px;
  margin-top: 13px;
  margin-bottom: 0px;
}

#content {
  display: flex;
  flex-direction: row;
}

#sideNav {
  order: 1;
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 500px;
  background-color: #ececec;
  color: var(--font-color);
  font-family: 'Montserrat', sans-serif;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

#sideNav h3 {
  align-self: center;
  text-decoration: underline;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  list-style-position: inside;
  padding-inline-start: 0;
}

#sideNav li {
  display: flex;
  padding: 5px;
}

#sideNav li:hover {
  background-color: darkgray;
}

#sideNav a {
  color: var(--font-color);
  text-decoration: none;
  display: inline-flex;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

#quickAddProj {
  display: inline-flexbox;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

#newProjBtn {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: var(--primary-color);
  color: var(--btn-font-color);
  border-radius: 10px;
  height: 30px;
  width: 150px;
  cursor: pointer;
}

#newProjBtn button {
  background-image: url(../assets/addicon.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  border: transparent;
  outline: none;
  height: 16px;
  width: 16px;
  margin-right: 6px;
  cursor: pointer;
}

#projectContent {
  order: 2;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 25px;
  margin-top: 16px;
}

#projectHeader {
  display: flex;
  flex-direction: row;
}

#projectHeader h3 {
  margin-top: 3px;
}

#deleteProj{
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  background-color: var(--secondary-color);
  color: var(--btn-font-color);
  border-radius: 10px;
  height: 30px;
  width: 150px;
  outline: none;
  cursor: pointer;
}

#deleteProj button {
  background-image: url(../assets/deleteicon.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  border: transparent;
  outline: none;
  height: 16px;
  width: 16px;
  margin-right: 6px;
  cursor: pointer;
}

.task {
  text-decoration: none;
}

.taskComplete {
  text-decoration: line-through;
}
