ul {
  list-style-type: none;
  list-style-position: inside;
}

#projContainer {
  display: flex;
  justify-content: flex-start;
}

.task {
  text-decoration: none;
}

.taskComplete {
  text-decoration: line-through;
}